# Authentication
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=666483104526-9agf31bdmlfbkbstfgtoqkrv8v2cfbr8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Database
DATABASE_URL=mongodb+srv://codewithsauravphuyal:tW5oxsvwpDk76GDT@cluster0.mjl4fom.mongodb.net/vaidhyasewatest?retryWrites=true&w=majority