@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 178 54% 8%;
    --card: 0 0% 100%;
    --card-foreground: 178 54% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 178 54% 8%;
    --primary: 178 58% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 178 55% 29%;
    --secondary-foreground: 0 0% 100%;
    --muted: 178 20% 96%;
    --muted-foreground: 178 10% 40%;
    --accent: 178 30% 95%;
    --accent-foreground: 178 55% 29%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 178 20% 90%;
    --input: 178 20% 90%;
    --ring: 178 58% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 178 54% 8%;
    --foreground: 0 0% 95%;
    --card: 178 55% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 178 55% 12%;
    --popover-foreground: 0 0% 95%;
    --primary: 178 58% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 178 55% 29%;
    --secondary-foreground: 0 0% 100%;
    --muted: 178 30% 20%;
    --muted-foreground: 178 20% 65%;
    --accent: 178 40% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 178 30% 25%;
    --input: 178 30% 25%;
    --ring: 178 58% 51%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}